header{
  background: $bg-color2;
  padding-bottom: 20px;

  div.text1-div{
    max-width: 600px;
    margin: auto;
    //margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 220px;
    display: inline-block;
    position:relative;
    top: 60px;

  }

  h1.header-text{
    @include font-headings;
    display: block;
  }

  h2.subheader-text{
    @include font-subHeadings;
    padding-right: 60px;
    display: block;
  }

  //THE HEADER NAV IS ON THE _navs.scss SECTION
}
