//MAIN HEADER

@mixin main-header{
  background: $bg-color2;
  padding-top: 10px;
  padding-bottom: 20px;

  div.text1-div{
    margin: auto;
    margin: 0px 20px 0px 20px;
    padding-left: 20px;
    padding-right: 60px;
    position:relative;
    left: 100px;
    top: 40px;
  }

  h1.header-text{
    @include font-headings;
  }

  h2.subheader-text{
    @include font-subHeadings;
    padding-right: 60px;
  }
}

//HYPERLINK COLOR

@mixin hyperLinks($colors){
  a:link{
    text-decoration: none;
    color: $colors;
  }

  -moz-a:link{
    text-decoration: none;
    color: $colors;
  }

  -ms-a:link{
    text-decoration: none;
    color: $colors;
  }

  -webkit-a:link{
    text-decoration: none;
    color: $colors;
  }
}

@mixin hyperVisited($colors){
  a:visited{
    text-decoration: none;
    color: $colors;
  }

  -moz-a:visited{
    text-decoration: none;
    color: $colors;
  }

  -ms-a:visited{
    text-decoration: none;
    color: $colors;
  }

  -webkit-a:visited{
    text-decoration: none;
    color: $colors;
  }
}

@mixin hyperHover($colors){
  a:hover{
    text-decoration: none;
    color: $colors;
  }

  -moz-a:hover{
    text-decoration: none;
    color: $colors;
  }

  -ms-a:hover{
    text-decoration: none;
    color: $colors;
  }

  -webkit-a:hover{
    text-decoration: none;
    color: $colors;
  }
}

//RADIUS
@mixin radius($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -webkit-border-radius: $radius;
}

//FONTS
@mixin font-headings{
  font-family: "Desdemona", "Bernard MT Condensed";
  font-size: 40px;
  color: $tx-main-color;
}

@mixin font-subHeadings{
  font-family: "Arial Narrow", "Desdemona";
  font-size: 17px;
  color: $tx-secondary-color;
}

@mixin font-buttons{
  font-family: "Abadi MT Condensed Extra Bold", "verdana";
  font-size: 30px;
  color: $tx-secondary-color;
}

@mixin font-regular{
  font-family: "verdana","arial";
  color: $tx-main-color;
}


//BORDERS METHODS

@mixin border-thin($colors){
  border: 3px solid $colors;
}

@mixin border-double($colors){
  border: 7px double $colors;
}

@mixin border-large($colors){
  border: 10px solid $colors;
}
