//SITE COLORS------------------------------------------------------

//BACKGROUND COLORS
$bg-color1: #1E1E1E;
$bg-color2: #282828;
$bg-color3: #3E4451;

//TEXT COLORS
$tx-main-color: white;
$tx-secondary-color: orange;
