
*{
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
}







//CSS ATTACHED PAGES------------------------------------------------

//FRONT PAGE
@import "CSS/_mixins.scss";
@import "CSS/_variables.scss";
@import "CSS/_images.scss";
@import "CSS/_navs.scss";
@import "CSS/_site-texts.scss";
@import "CSS/_header.scss";
@import "CSS/_body.scss";
